/*Hoja de estilos para crear un botón mediante un div y un vínculo*/
div{
    border: 2px solid darkslategray;
    background-color: antiquewhite;
    width: fit-content;
    height: fit-content;
}
a{
    text-decoration-line: none;
}
div:hover{
    background-color: lightgray;
}